<!DOCTYPE HTML>
<html>
    <head>
        <title>Halaman Register</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
   
    <body>
        <div class="container">
          <h1>Register</h1>
            <form>
                <label>Username</label><br>
                <input type="text"><br>
                <label>Email</label><br>
                <input type="text"><br>
                <label>Password</label><br>
                <input type="password"><br>
                <label>Re-enter Password</label><br>
                <input type="password"><br>
                <button><a href="login.html">Register</a></button>
            </form>
            <br>
            <center><a href="login.html">Login</a></center>
        </div>     
    </body>
</html>